<!doctype html>
<html>
  <head>
    <title>Example application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
  <a href="{{ url_for('posts_get') }}">Посты</a>
  <!-- BEGIN (write your solution here) -->
  <form action="/posts" method="post">
    <div>
      <label>
        title
        <input type="text" class="input-field" required name="title">
      </label>
    </div>
    <div>
      <label>
        body
        <input type="text" class="input-field" required name="body">
      </label>
    </div>
    <input type="submit" class="submit-button" value="Create post">
  </form>
  <!-- END -->
  </body>
</html>
